<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="form-group">
                    <label for="tableID">Table</label>
                    <select id="tableID"  class="form-control">
                        <option id="1">Table 1</option>
                        <option id="2">Table 2</option>
                        <option id="3">Table 3</option>
                        <option id="4">Table 4</option>
                    </select>
                </div>
                <div class="form-group mt-2" >
                    <label for="reservationDate">Time</label>
                    <input  class="form-control" type="datetime" id="reservationDate">
                </div>
                <div class="form-group mt-3">
                    <button class="btn btn-primary" type="submit">Reserve</button>
                </div>
            </form>
        </div>
    </div>
</div>
